{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "oclif",
    "oclif-typescript",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "eslint-config-prettier"
  ],
  "rules": {
    "no-console": "warn",
    "camelcase": "off",
    "@typescript-eslint/camelcase": "off",
    "comma-dangle": "off"
  }
}
