language: node_js

node_js:
  - 12

cache: npm

script:
  - ./bin/run --version
  - ./bin/run --help
  - npm run test

after_success:
  - ./node_modules/.bin/nyc --extension .ts report --reporter text-lcov > coverage.lcov
  - curl -s https://codecov.io/bash | bash
